.section.hero-container {
  padding-top: 0;
}

.hero div div div {
  position:relative;
  padding: 128px 0;
}

.hero div div div img {
  position: absolute;
  max-width: 927px;
  top: 0;
  left: 47.66%;
}

.hero h1 {
  margin-top: 0;
}

.hero div div div * {
  max-width: 605px;
}