video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100%;
}

main .hero-home-container {
    padding-top: 0;
    background-color: #000;
}

.hero-home {
    padding-top: 71px;
    min-height: 300px;
    color: #fff;
    position:relative;
}

.hero-home h1 {
    display: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.hero-home h2 {
    font-family: adobe-clean,sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    max-width: 1200px;
    margin: 62px auto 10px auto;
    color: white;
}

.hero-home p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.hero-home p.button-container {
    margin-top: 12px;
}

.hero-home .button-container a {
    font-size: 16px;
    padding: 5px 18px;
}

.hero-home ul {
    padding: 0;
    display: flex;
}

.hero-home ul li {
    list-style: none;
    margin-right: 15px;
    font-size: 20px;
}

.hero-home ul li:nth-child(2) {
    color: red;
}

@media (min-width: 900px) {
    main .hero-home-container {
        padding-bottom: 35px;
    }
    
    .hero-home .hero-mobile {
        display: none;
    }

    .hero-home > div:nth-child(3) {
        display: flex;
        justify-content: space-between;
    }

    .hero-home > div:nth-child(3) div {
        max-width: 400px;
    }

    .hero-home > .hero-desktop {
        position: absolute;
        left: 42.5%;
        top: 0;
        bottom: 0;
        right: auto;
        height: 585px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .hero-home > div:nth-child(3) div {
        max-width: 485px;
    }
}

@media (max-width: 899px) {
    main .hero-home-container {
        padding: 0;
        margin-bottom: -20px;
    }

    .hero-home {
        padding-top: 0;
    }
    
    .hero-home .hero-desktop {
        display: none;
    }

    .hero-home > div:nth-child(3) {
        padding-right: 30px;
        padding-left: 30px;
    }
}
