/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #f5f5f5;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}


main .section.sponsors {
  background-color: #f5f5f5;
}

main .section.sponsors ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

main .section.sponsors img {
  height: 75px;
  width: 150px;
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.explore {
  padding: 0;
  position: relative;
}



main .section.explore .default-content-wrapper {
  background-color: #fff;
  position: relative;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}


@media (min-width: 900px) {
  main .section.explore .default-content-wrapper {
    padding: 30px 20px 0 30px;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
  }

  main .section.explore::before{
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
    width: 50%;
    height: calc(50% + 12px);
    background-color: #000;
  }
}

main .section.explore .default-content-wrapper * {
  color: #000;
}

main .section.explore .default-content-wrapper > *{
  margin: 0 24px
}

main .section.explore .default-content-wrapper > *:nth-child(2){
  margin: 48px 0 0;
}

main .section.explore .default-content-wrapper > *:last-child{
  margin: 0 0 48px;
  padding-bottom: 72px;
}

main .section.explore .default-content-wrapper p:nth-child(1) {
  margin: 0;
  position: relative;
}

main .section.explore .default-content-wrapper p:nth-child(1)::before{
  position: absolute;
  top: -10px;
  bottom: 10px;
  right: -10px;
  width: 10px;
  background-color: #ce0d00;
  content: ' ';
}

@media (min-width: 900px) {
  main .section.explore .default-content-wrapper p:nth-child(1)::before{
    top: -40px;
    bottom: 10px;
    right: -30px;
  }
}

main .section.explore .default-content-wrapper p:nth-child(1) picture::before{
  content: " ";
  position: absolute;
  bottom: -66px;
  left: -30px;
  width: 20px;
  height: 76px;
  background: #0E4FD3;
  background: linear-gradient(180deg, #0E4FD3, #3482DA);
}

@media (min-width: 900px) {
  main .section.explore .default-content-wrapper p:nth-child(1) picture::before{
    bottom: -224px;
    left: -7px;
    height: 235px;
    width: 8px;
  }

  main .section.explore .default-content-wrapper p:nth-child(1) picture::after{
    content: " ";
    position: absolute;
    background: #80BC15;
    background: linear-gradient(180deg, #138735, #80BC15);
    bottom: -224px;
    left: -60px;
    height: 235px;
    width: 53px;
  }
}

main .section.explore .default-content-wrapper p:nth-child(1)::after{
  position: absolute;
  top: -10px;
  right: -10px;
  left: 50%;
  height: 10px;
  background-color: #ce0d00;
  content: ' ';
}

@media (min-width: 900px) {
  main .section.explore .default-content-wrapper p:nth-child(1)::after{
    top: -40px;
    right: -20px;
    left: 50%;
    height: 10px;
  }
  
}


main .section.explore .default-content-wrapper::after{
  content: "";
  position: absolute;
  bottom: -52px;
  right: -64px;
  height: 449px;
  width: 388px;
  background-image: url("../../images/explore-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  
}

main .section.explore .default-content-wrapper h2{
  font-size: 28px;
  text-align: center;
  margin-top: 36px;
}

main .section.explore .default-content-wrapper p:nth-child(2),
main .section.explore .default-content-wrapper p:nth-child(3),
main .section.explore .default-content-wrapper p:nth-child(4){
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

main .section.explore .default-content-wrapper ul {
  list-style: none;
  margin-top: 40px;
  text-align: left;
  margin-bottom: 0;
  padding: 0 20px;
}

@media (min-width: 900px) {
  main .section.explore .default-content-wrapper ul{
    list-style: none;
    margin-top: 40px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
    padding: unset;
  }
}

main .section.explore .default-content-wrapper ul li{
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: 22px;
  color: #2c2c2c;
  break-inside: avoid;
}

main .section.explore .default-content-wrapper ul li::before{
  content: "\2022"; 
  color: red;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

@media (min-width: 900px) {
  main .section.explore .default-content-wrapper p:nth-child(2),
  main .section.explore .default-content-wrapper p:nth-child(3),
  main .section.explore .default-content-wrapper p:nth-child(4){
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      max-width: 775px;
      margin: 0 auto 32px;
  }

  main .section.explore .default-content-wrapper ul {
    columns: 3;
    column-gap: 73px;
  }
}

main .section.quote{ 
  position: relative;
}


main .section.quote::after,
main .section.quote::before{
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

main .section.quote::after {
  left:0;
  background: linear-gradient(to bottom right, #0c50d3, #0c50d3);
  width: 50%;
  background-position: left bottom,right bottom;
}

main .section.quote::before {
  background: linear-gradient(180deg, #138735, #80BC15);
  width: 10%;
  
}

main .section.quote .default-content-wrapper > * {
  width: 50%;
  color: #FFF;
}

main .section.quote .default-content-wrapper > *:first-child {
  position: absolute;
  right: calc(50% - 600px);
  top: 0;
  margin: 0;
  width: unset;
  object-fit: cover;
  z-index: -1;
}

main .section.quote .default-content-wrapper > *:nth-child(2)::before,
main .section.quote .default-content-wrapper > *:nth-child(2)::after{
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

main .section.quote .default-content-wrapper > *:nth-child(2)::after{
  right: 0;
  width: calc(50% - 670px);
  background: linear-gradient(325deg, #CF0828, #D30380);
}


main .section.quote .default-content-wrapper > *:nth-child(2)::before{
  right: calc(50% - 670px);
  width: 70px;
  background: linear-gradient(180deg, #138735, #80BC15);
}

